@import "tailwindcss";

/* Hand written */
@font-face {
  font-family: "Wonderful Branding";
  src: url("/fonts/WonderfulBranding.ttf") format("truetype");
}

/* Cursive */
@font-face {
  font-family: "daydream";
  src: url("/fonts/daydream.ttf") format("truetype");
}

@font-face {
  font-family: "Typewriter";
  src: url("/fonts/Typewriter.ttf") format("truetype");
}

/* Header */
@font-face {
  font-family: "vogue";
  src: url("/fonts/vogue.ttf") format("truetype");
}

body,
html {
  overflow-x: hidden;
}

/*
 cream background: #dad7cd
 olive green: #506248
 pink: #fadadd
 grey: #bfbfbf
*/

body {
  background-color: #dad7cd;

  p {
    line-height: 1.75;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dad7cd;
  padding: 1rem 2rem;
  color: #506248;
}

.nav-left h1 {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #506248;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home {

  .images {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
  }

  .transition-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  .transition-image.active {
    opacity: 1;
  }

  .about {
    background-color: #bfbfbf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 2rem;

    .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 800px;
      padding: 1rem;

      .title {
        margin-bottom: 2rem;

        @media (max-width: 1363px) {
          margin-bottom: 1rem;

          h1 {
            font-size: 3rem !important;
          }
        }

        h1 {
          font-size: 5rem;
          color: #506248;
          font-weight: bold;
          font-family: "vogue";
        }
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-family: "Typewriter";
        text-align: left;

        @media (max-width: 1363px) {
          margin-top: -3rem;
          width: 76vw;
        }
      }

      .a-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        /* Allows scaling */
        height: auto;
        transition: transform 0.2s ease-in-out;
        margin-top: 1rem;

        img {
          width: 100%;
          height: auto;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .about-image-cluster {
      min-width: 500px;
    }

    .about-image-cluster-mobile {
      display: none;
    }

    /* Mobile Adjustments */
    @media (max-width: 1363px) {
      flex-direction: column;
      text-align: center;

      .about-image-cluster {
        display: none;
      }

      .about-image-cluster-mobile {
        display: flex;
        justify-content: center;
        margin-top: -3rem;
      }

      .a-button {
        position: static;
        margin-top: 2rem;
      }
    }
  }


  .image-break {
    height: 40vw;
    overflow: hidden;
    position: relative;
  }


  .services {
    margin: 2rem 0;
    position: relative;
    min-height: 100vh;


    @media (max-width: 790px) {
      padding: 0;
    }

    .services-top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .services-title {
      text-align: center;
      margin-bottom: 3rem;

      h2 {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        color: #506248;
        font-weight: bold;
        margin: 0 auto;
        font-family: "vogue";

        @media (max-width: 790px) {
          margin-bottom:1rem;
        }
      }

      h3 {
        font-size: clamp(1rem, 4vw, 2rem);
        color: #506248;
        font-weight: bold;
        margin: 0 auto;
        font-family: "vogue";

        @media (max-width: 790px) {
          width: 70%
        }
      }
    }

    .flower {
      position: absolute;
      bottom: 8%;
      right: 2%;
      width: clamp(80px, 10vw, 150px);
      height: clamp(80px, 10vw, 150px);

      @media (max-width: 790px) {
        bottom: 3%;
        right: 11%;
        transform: translateX(50%);
      }
    }

    .services-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .s-button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: clamp(250px, 30vw, 450px);
        height: auto;
        transition: transform 0.2s ease-in-out;
        margin-top: -3rem;
        margin-left: clamp(5%, 10vw, 15%);
        margin-bottom: 5%;

        img {
          width: 100%;
          height: auto;
        }

        &:hover {
          transform: scale(1.05);
        }

        /* Adjust for smaller screens */
        @media (max-width: 790px) {
          margin-left: auto;
          margin-right: auto;
          max-width: 60%;
        }

        @media (max-width: 480px) {
          max-width: 80%;
          /* Make the button larger for smaller screens */
        }
      }


      .services-content {

        p {
          font-size: clamp(1rem, 2vw, 1.5rem);
          margin-bottom: 3rem;
          font-family: "Typewriter";
        }
      }

      .services-image-holder img {
        display: none;

        @media (max-width: 790px) {
          display: block;
          max-width: 80%;
          height: auto;
          margin-left: 14%;
        }
      }

      .services-image-cluster {
        position: absolute;
        top: 26%;
        right: 25%;
        aspect-ratio: 1/1;
        z-index: -1;

        img {
          max-width: 100%;
          height: auto;

          @media (max-width: 790px) {
            display: none;
          }
        }
      }
    }

    @media (max-width: 790px) {
      .services-bottom {
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      .services-content {
        padding: 1rem;
        width: 76vw;
      }

      .services-title h2 {
        font-size: clamp(2rem, 5vw, 2.5rem);
      }

      .services-content p {
        font-size: 1.25rem;
      }
    }
  }

  .image-parallax {
    height: 40vw;
    overflow: hidden;
    background-image: url('/images/emily_leaf.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .parallax-image {
    display: none;
  }

  @media (max-width: 790px) {
    .image-parallax {
      height: 50vw;
      width: 10%;
      height: auto;
    }

  }

  .testimonials {
    background: linear-gradient(90deg,
        #e8e3db 50%,
        #bfbfbf 50%);
    background-size: 40px 40px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 790px) {
      height: 50vh;
    }

    .testimonial-item {
      position: relative;
      aspect-ratio: 16 / 9;
      width: 90vw;
      max-width: 60.375rem;
      background-image: url('/images/postcard.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 16 / 9;

      .stamp {
        position: absolute;
        top: -1%;
        right: 14%;
        width: 18%;
        max-width: 12.5rem;
        aspect-ratio: 1/1;
      }

      .postcard-text {
        position: absolute;
        top: 26%;
        left: 18%;
        font-size: 1.2rem;
        font-size: clamp(0.6rem, 2vw, 1.2rem);
        line-height: 1.4;
        max-width: 29%;

        p {
          font-family: "Typewriter", sans-serif;
        }

        @media (max-width: 790px) {
          p {
            font-size: 0.55rem;
          }
        }
      }

      .signature {
        position: absolute;
        top: 63%;
        left: 23%;
        width: 30%;
        max-width: 250px;
        aspect-ratio: 3/1;

        @media (max-width: 790px) {
          left: 18%;
          top: 63%;
        }
      }
    }
  }
}


.footer {
  background-color: #506248;
  height: 15%;
  padding-bottom: 2rem;

  .footer-content {
    text-align: center;
  }
}



/** ABOUT PAGE **/

.about {
  .polaroid {
    img {
      @media (max-width: 790px) {
        width: clamp(80px, 10vw, 150px);
        height: clamp(80px, 10vw, 150px);
      }
    }
  }

  .button {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 1rem;
    padding: -3rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin-bottom: 2rem;
    z-index: 1001;

    @media (max-width: 790px) {
      display: none;
    }
  }

  .button:hover,
  .button:focus {
    transform: scale(1.05);
  }
}


/* PORTFOLIO PAGE */
.portfolio {
  background: url('/images/paper.png') repeat;
  min-height: 100vh;

  .portfolio__title {
    h1 {
      margin-top: 2rem;
      font-weight: bold;
      font-size: clamp(3.5rem, 4vw, 7rem);
      font-weight: bold;
      font-family: "vogue";
    }

    h2 {
      margin-top: -1.5rem;
      font-size: 3rem;
      font-family: "daydream", sans-serif;
    }
  }

  .portfolio-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* Exactly 3 images per row */
    grid-auto-flow: dense;
    margin: 1rem 3rem;
  }

  .portfolio-item {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 0.5rem solid;
    border-color: #506248;
  }

  /* Portrait images span 2 rows */
  .portfolio-item.portrait {
    grid-row: span 2;
    aspect-ratio: 3 / 4;
    /* Maintain portrait aspect */
  }

  /* Landscape images take 1 row */
  .portfolio-item.landscape {
    grid-column: span 1;
    aspect-ratio: 4 / 3;
  }

}